/temp
/test-results
/.Rtmp
/.ipynb_checkpoints
**/.ipynb_checkpoints/
/node_modules/
tasks/**/node_modules/
**/node_modules/.vite/
**/node_modules/.vitest/
**/node_modules/.vite/vitest/**/results.json
/test-results/.last-run.json
